.manjari-thin {
    font-family: "Manjari", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.manjari-regular {
    font-family: "Manjari", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.manjari-bold {
    font-family: "Manjari", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-family: "Manjani", sans-serif;
    font-weight: 200;
    color: rgba(244, 171, 25, 1);
    text-shadow: rgb(125, 123, 123, 0.25);
    box-shadow: 3px 3px 3px;   
}

.card {
    padding: 0px 5px;
    margin: 30px 30px;
    background: linear-gradient(
        rgba(10, 46, 127, 1),
        rgba(29, 82, 188, 1),
        rgba(34, 106, 221, 1)
    )
    
}