/*Font*/
.manjari-thin {
    font-family: "Manjari", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.manjari-regular {
    font-family: "Manjari", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.manjari-bold {
    font-family: "Manjari", sans-serif;
    font-weight: 700;
    font-style: normal;
}


h1 {
    font-family: 'manjari-thin', sans-serif, 'manjari-regular', sans-serif, 'manjari-bold', sans-serif;
    text-align: center;
    color: #000033;
    

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightslategrey;
    color: #000033;
}